.containerNav {
  margin: 0;
  padding-bottom: 10px;
  caret-color: transparent;
  
}
.imgHome{

  width: 50px;
  height: 50px;

}
.formbusqueda{

  display: flex;
  flex-direction: row;
  align-items: center;


}

.formNavHome{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  background-color: #f2295bde;
  border-bottom: 3px solid;
  border-color: #f2295b2d;

}

.formNav {
  display: flex;
  flex-direction: row;
  height: 70px;
  padding-left: 46px;
  background-color: #f2295bde;
  border-bottom: 3px solid;
  border-color: #f2295b2d;
}

.divNav {
  display: flex;
  flex-direction: row;
}

.linkP {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #2f3545;
  /* border: 3px solid black; */
  cursor: pointer;
  position: relative;
  background-color: #f2295b00;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.linkP::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.linkP:hover::before {
  transform: translateX(0);
}

.linkP:hover {
  color: black 0.2em solid;
}

.selectgenero {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  height: 25px;

  border-radius: 0.5em;
  border-color: #f2295bde;
  border-width: 1px;
  background-color: #212121;
  color: #f2295bde;

  font-weight: bold;
}

.selectapi {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  height: 25px;

  border-radius: 0.5em;
  border-color: #f2295b9a;
  border-width: 1px;
  background-color: #212121;
  color: #f2295bde;

  font-weight: bold;
}

.Selects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clearbutton {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  width: 60px;
  height: 25px;
  background-color: #212121;
  color: #f2295bde;
  border-color: #f2295bde;
  border-width: 1px;
  border-radius: 0.5em;

  font-weight: bold;
}
.genero-elegido-ind {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.genero-elegido-conjuto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 20rem;
  overflow: hidden;
  white-space: initial;
}

.buscadorconteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buscador {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  width: 200px;
  height: 25px;

  border-radius: 0.5em;
  border-color: #f2295b9a;
  border-width: 1px;
  background-color: #212121;
  color: #f2295bde;

  font-weight: bold;
  outline: none;
}

.buscadorbutton {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  width: 70px;
  height: 25px;

  border-radius: 0.5em;
  border-color: #f2295b9a;
  border-width: 1px;
  background-color: #212121;
  color: #f2295bde;

  font-weight: bold;
}

.ordenar {
  display: flex;
  flex-direction: row;
}

.orderRating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif;
  font-weight: bold;
  justify-content: space-around;
  margin-left: 30px;
}

.ordenABC {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif;
  font-weight: bold;
  justify-content: space-around;
  /* margin-left: 20px; */
}

.div-rating {
  font-weight: bold;
  color: #212121;
}

.div-abc {
  font-weight: bold;
  color: #212121;
}
.select-filtroapi {
  margin: 10px;
}
.select-genero {
  margin: 10px;
}

.cointeinerlink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="radio"]:checked {
  accent-color: #f2295bde;
}
