/* From uiverse.io by @satyamchaudharydev */
.loader-carta-Conteiner{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 500px;

}

.loaderCarta {
    --height-of-loader: 4px;
    --loader-color: #f2295bde;
    width: 10%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
   }
   
   .loaderCarta::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
   }
   
   @keyframes moving {
    50% {
     width: 100%;
    }
   
    100% {
     width: 0;
     right: 0;
     left: unset;
    }
   }